[submodule "app"]
	path = app
	url = https://github.com/enfyra/app.git
	branch = main
[submodule "backend"]
	path = backend
	url = https://github.com/enfyra/backend.git
	branch = main
[submodule "documents"]
	path = documents
	url = https://github.com/enfyra/documents.git
	branch = main
